# KEN 3140
## Assignment 2: SPARQL

This notebook can be used to execute and test the SPARQL queries that you will formulate for Assignment 2. The queries will be executed on the graph in the file `KEN3140_assignment2_familyrelations.ttl`. **Please ensure that this file is located in the same directory as this notebook**.

We will use the Java RDF library [Apache Jena](https://jena.apache.org/) to load the graph and execute the SPARQL queries. 

The library is located in the folder `apache-jena-3.16.0` (also used in Lab 3). **Please ensure this folder is also located in the same directory as this notebook.**

**Run the next code cell in order to install Jena in this notebook.**

### 1. Install Jena libraries

In [20]:
%jars apache-jena-3.16.0/lib/*.jar

### 2. Import required libraries from Jena

In [21]:
import org.apache.jena.riot.RDFDataMgr;
import org.apache.jena.rdf.model.*;
import org.apache.jena.util.PrintUtil;
import org.apache.jena.vocabulary.RDF;
import org.apache.jena.query.Query;
import org.apache.jena.query.QueryExecution;
import org.apache.jena.query.QueryExecutionFactory;
import org.apache.jena.query.QueryFactory;
import org.apache.jena.query.QuerySolution;
import org.apache.jena.query.ResultSetFormatter;
import org.apache.jena.query.ResultSet;
import java.io.File;
import org.apache.commons.io.FileUtils;
import java.nio.charset.StandardCharsets;

### 3. Load the RDF file in a Jena Model

Load the RDF file as a Jena RDF model. The parameter of the ``.loadModel`` method is the string path to the ``.ttl`` file containing your graph. As an example we are using the graph ``Example_family_graph.ttl``. **Important:** For Assignment 2, we have to replace this with ``KEN3140_assignment2_familyrelations.ttl``.

In [26]:
Model model = RDFDataMgr.loadModel("Example_family_graph.ttl");

Create a function `runSparqlQuery()` to easily run SPARQL queries from a string or a file later.

In [27]:
static void runSparqlQuery(String queryString, Model model) throws java.io.IOException {
    if (queryString.endsWith(".rq")) {
        queryString = FileUtils.readFileToString(new File(queryString), StandardCharsets.UTF_8);
    }
    System.out.println(queryString);
    Query query = QueryFactory.create(queryString);
    QueryExecution qexec = QueryExecutionFactory.create(query, model);
    ResultSetFormatter.out(qexec.execSelect(), model);
}

### 4. Load your SPARQL query from file

Java does [not support multiline strings](https://www.vojtechruzicka.com/raw-strings/#string-literals). Therefore, we will read your query in from a text file. The following function reads in your query from a text file with the `.rq` extension **Please ensure that there is only one SPARQL query pasted at the top of this file and that there is no whitespace before the start of your query.** You can have a single return (newline) at the end of your query. Because this notebook is set up to execute only one SPARQL query at a time, you have to replace the query in this file with a new query for each question in the assignment (**remember to save the file afterwards**). Also, **make sure to record your query and results in the provided answer sheets** before moving on to the next question and modifying the file. Alternatively, you can create a new text file for each query and run the notebook for each of these files. For those who are more experienced with Java, you can take another option by extending this notebook with a function to read in multiple SPARQL queries from a single text file into an array.

### 5. Execute SPARQL query and print results

In [28]:
runSparqlQuery(sparql_query_str, model);

PREFIX schema: <https://schema.org/>
PREFIX family: <https://my-family.org/>
SELECT *
WHERE {
    ?entity a schema:Person ;
              schema:parent ?parent .
}

-------------------
| entity | parent |
===================
-------------------

### 6. Use Jena's RDFS reasoning engine

Part 6 of this notebook executes the same steps as Parts 3 - 5 above but this time **with RDFS reasoning enabled. I.e., with the [RDFS entailment regime](https://www.w3.org/TR/sparql11-entailment/#RDFSEntRegime) implemented.** Therefore, there might be additional results obtained  for some queries.

In [29]:
InfModel rdfsModel = ModelFactory.createRDFSModel(RDFDataMgr.loadModel("Example_family_graph.ttl"));

In [35]:
runSparqlQuery(sparql_query_str, rdfsModel);

PREFIX schema: <https://schema.org/>
PREFIX family: <https://my-family.org/>
SELECT *
WHERE {
    ?entity a schema:Person ;
              schema:parent ?parent .
}

------------------------------------
| entity         | parent          |
====================================
| family:Miranda | family:Mathilde |
| family:Miranda | family:Pierre   |
------------------------------------

### "Rinse and repeat" Parts 3 - 6 of the notebook for each question / query in Assignment 2. Enjoy! üëç

# Part A

1. List the top five tallest people in the graph in order from tallest to shortest

In [32]:
runSparqlQuery("partA-q1.rq", model);
runSparqlQuery("partA-q1.rq", rdfsModel);

PREFIX schema: <https://schema.org/>
PREFIX family: <https://my-family.org/>
SELECT *
WHERE {
    ?entity a schema:Person ;
              schema:parent ?parent .
}
-------------------
| entity | parent |
===================
-------------------
PREFIX schema: <https://schema.org/>
PREFIX family: <https://my-family.org/>
SELECT *
WHERE {
    ?entity a schema:Person ;
              schema:parent ?parent .
}
------------------------------------
| entity         | parent          |
====================================
| family:Miranda | family:Mathilde |
| family:Miranda | family:Pierre   |
------------------------------------

2. Identify the shortest person who has at least two uncles

In [34]:
runSparqlQuery("partA-q2.rq", model);
runSparqlQuery("partA-q2.rq", rdfsModel);

PREFIX schema: <https://schema.org/>
PREFIX family: <https://my-family.org/>
SELECT *
WHERE {
    ?entity a schema:Person ;
              schema:parent ?parent .
}
-------------------
| entity | parent |
===================
-------------------
PREFIX schema: <https://schema.org/>
PREFIX family: <https://my-family.org/>
SELECT *
WHERE {
    ?entity a schema:Person ;
              schema:parent ?parent .
}
------------------------------------
| entity         | parent          |
====================================
| family:Miranda | family:Mathilde |
| family:Miranda | family:Pierre   |
------------------------------------