# Run SPARQL queries on a local RDF file

We will use the Java RDF library [Apache Jena](https://jena.apache.org/). Follow these instructions to install the library:

1. Copy the `apache-jena-3.16.0` folder from Lab3 to the same directory as the notebook, or download the [apache-jena-3.16.0.zip](http://apache.mirror.triple-it.nl/jena/binaries/apache-jena-3.16.0.zip) file and unzip it
2. Run the next cell (it will import all jars in the `apache-jena-3.16.0/lib` folder)

In [1]:
%jars /opt/apache-jena-*/lib/*.jar

In [5]:
import org.apache.jena.riot.RDFDataMgr;
import org.apache.jena.rdf.model.*;
import org.apache.jena.util.PrintUtil;
import org.apache.jena.vocabulary.RDF;
import org.apache.jena.query.Query;
import org.apache.jena.query.QueryExecution;
import org.apache.jena.query.QueryExecutionFactory;
import org.apache.jena.query.QueryFactory;
import org.apache.jena.query.QuerySolution;
import org.apache.jena.query.ResultSetFormatter;
import org.apache.jena.query.ResultSet;
import org.apache.jena.reasoner.ReasonerRegistry;
import java.io.File;
import org.apache.commons.io.FileUtils;
import java.nio.charset.StandardCharsets;

## Load the RDF file in a Jena Model

Load the RDF file, and create `runSparqlQuery()` function to run SPARQL queries in a single call from a string or a file.

In [8]:
Model baseModel = RDFDataMgr.loadModel("Lab5_OWL_familyrelations.ttl");
//ReasonerRegistry reasonerRegistry = new ReasonerRegistry();

InfModel model = ModelFactory.createInfModel(ReasonerRegistry.getOWLReasoner(), baseModel);

// The schema model can be provided separately 
// InfModel model = ModelFactory.createInfModel(uselessReasonerRegistry.getOWLReasoner(), schema, model);

In [9]:
static void runSparqlQuery(String queryString, Model model) throws java.io.IOException {
    if (queryString.endsWith(".rq")) {
        queryString = FileUtils.readFileToString(new File(queryString), StandardCharsets.UTF_8);
    }
    System.out.println(queryString);
    Query query = QueryFactory.create(queryString);
    QueryExecution qexec = QueryExecutionFactory.create(query, model);
    try {
        ResultSetFormatter.out(qexec.execSelect(), model);
    } catch (Exception e) {
        Model results = qexec.execConstruct();
        System.out.println("--- CONSTRUCT QUERY RESULTS:");
        results.write(System.out, "TURTLE");
    }
}

## SPARQL query from string

Java does not support multiline strings.

In [16]:
String queryString = "PREFIX schema: <https://schema.org/> \n" +
    "PREFIX dbo: <http://dbpedia.org/ontology/> \n" +
    "SELECT * WHERE{ \n" + 
        "?entity dbo:age ?age .\n" +
    "}";

In [17]:
runSparqlQuery(queryString, model)

PREFIX schema: <https://schema.org/>
PREFIX dbo: <http://dbpedia.org/ontology/>
SELECT * WHERE{
?entity dbo:age ?age .
}
-------------------------------------------------
| entity            | age                       |
=================================================
| myfamily:kovanya  | "34"^^xsd:positiveInteger |
| myfamily:alan     | "56"^^xsd:positiveInteger |
| myfamily:natasha  | "22"^^xsd:positiveInteger |
| myfamily:shareena | "62"^^xsd:positiveInteger |
| myfamily:brian    | "54"^^xsd:positiveInteger |
| myfamily:kody     | "34"^^xsd:positiveInteger |
| myfamily:nicole   | "33"^^xsd:positiveInteger |
| myfamily:naidene  | "28"^^xsd:positiveInteger |
| myfamily:radha    | "51"^^xsd:positiveInteger |
| myfamily:siara    | "30"^^xsd:positiveInteger |
-------------------------------------------------

## SPARQL query from a file

Provide the SPARQL query in a file **with the extension `.rq`**

In [18]:
runSparqlQuery("sparql-get_age.rq", model)

PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>
PREFIX schema: <http://schema.org/>
PREFIX dbo: <http://dbpedia.org/ontology/>
SELECT ?person ?age
WHERE {
    ?person dbo:age ?age .
}
-------------------------------------------------
| person            | age                       |
=================================================
| myfamily:kovanya  | "34"^^xsd:positiveInteger |
| myfamily:alan     | "56"^^xsd:positiveInteger |
| myfamily:natasha  | "22"^^xsd:positiveInteger |
| myfamily:shareena | "62"^^xsd:positiveInteger |
| myfamily:brian    | "54"^^xsd:positiveInteger |
| myfamily:kody     | "34"^^xsd:positiveInteger |
| myfamily:nicole   | "33"^^xsd:positiveInteger |
| myfamily:naidene  | "28"^^xsd:positiveInteger |
| myfamily:radha    | "51"^^xsd:positiveInteger |
| myfamily:siara    | "30"^^xsd:positiveInteger |
-------------------------------------------------