# Tasks

Please first read assignment 2 instruction file, import necessary libararies, load the dataset and then write SPARQL query for following questions:

Write valid SPARQL queries to:

1. List the top four oldest people in the graph from oldest to youngest

2. Identify the shortest student who has at least four classmates

3. List the teachers who have the highest salaries (in increasing order) and have at least five colleagues?

4. Return the mean (average) age of male professors, and the mean age of female professors

5. For each employee, calculate their "net salary"
Important notes:

Net Salary Calculation for Professor = Base salary - income tax (%4 of the base salary) - pension (%6 of the base salary)

Net Salary Calculation for other employees = Base salary - income tax (%4 of the base salary) - pension (%3 of the base salary)

6. List the number of all students and all teachers (show ?studentcount ?teachercount in your result)
Important notes: You will provide two queries for this task. One with inference and one without. Paste both queries below, one with inference toggled off and one with inference toggled on (the queries should be in separate cells).

7. List people who are both student and employee?
Hint: Use inference

8. Open-ended question!  Write a meaningful question and its corresponding SPARQL query using at least a subquery and group by.

**important**

In the following cell you must provide code for loading dataset in a graph.

In [ ]:
#import libararies
#load dataset in a graph
#write SPARQL queries

In [ ]:
#SPARQL Query 1?

In [ ]:
#SPARQL Query 2

In [ ]:
#SPARQL Query 3

In [ ]:
#SPARQL Query 4

In [ ]:
#SPARQL Query 5

In [ ]:
#SPARQL Query 6

In [ ]:
#SPARQL Query 7

Write your question for Q8 as a comment

In [ ]:
#SPARQL Query 8