# KEN 3140 Semantic Web: Lab 5 üß™
### Writing and executing complex SPARQL queries on RDF graphs

**Reference specifications: https://www.w3.org/TR/sparql11-query/**

We will use the **DBpedia SPARQL endpoint**: 

>**https://dbpedia.org/sparql**

And **SPARQL query editor YASGUI**:

> **https://yasgui.triply.cc**

# SPARQL endpoint üîó

* Databases are not built to be publicly available, they usually live close to their applications
* Triplestore can be fully queried through a publicly available SPARQL endpoint URL
* Some solutions enable user management, but natively SPARQL endpoints are built to be open and give the same access to all their users

We will use the **DBpedia SPARQL endpoint**: 

>**https://dbpedia.org/sparql**

[DBpedia](https://wiki.dbpedia.org/) is a project to represent (parts of) Wikipedia as RDF, it has been used has a playground for the Semantic Web for years. The data is not controlled or curated, which lead to poor data quality (don't be surprised to find weird things)

You can use a nicer query editor that can query any public SPARQL endpoint: 

> **https://yasgui.triply.cc**

# Install the SPARQL kernel

This notebook uses the SPARQL Kernel to define and **execute SPARQL queries in the notebook** codeblocks.
To **install the SPARQL Kernel** in your JupyterLab installation:

```shell
pip install sparqlkernel --user
jupyter sparqlkernel install --user
```

To start running SPARQL query in this notebook, we need to define the **SPARQL kernel parameters**:

In [2]:
# Define the SPARQL endpoint to query
%endpoint http://dbpedia.org/sparql

# This is optional, it would increase the log level
%log debug

# Uncomment the next line to return label in english and avoid duplicates
# %lang en

Endpoint set to: http://dbpedia.org/sparql
Logging set to DEBUG

# Perform an arithmetic operation

Calculate the GDP per capita of countries from `dbp:gdpNominal` and `dbo:populationTotal`

Starting from this query:

```sparql
PREFIX dbo: <http://dbpedia.org/ontology/>
PREFIX dbp: <http://dbpedia.org/property/>
SELECT ?country ?gdpValue ?population
WHERE {
    ?country dbp:gdpNominal ?gdpValue ;
             dbo:populationTotal ?population .
} LIMIT 10
```

**Impossible due to different datatypes** üö´

The GDP is in `http://dbpedia.org/datatype/usDollar`, and the population is a `xsd:nonNegativeInteger`:

In [33]:
PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>
PREFIX dbo: <http://dbpedia.org/ontology/>
PREFIX dbp: <http://dbpedia.org/property/>
PREFIX rdf: <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
SELECT ?country ?gdpValue datatype(?gdpValue) AS ?gdpType ?population datatype(?population) AS ?populationType (?gdpValue / ?population AS ?gdpPerCapita)
WHERE {
    ?country dbp:gdpNominal ?gdpValue ;
             dbo:populationTotal ?population .
} LIMIT 10

country,gdpValue,gdpType,population,populationType,gdpPerCapita
http://dbpedia.org/resource/Arab_League,3.526E12,http://dbpedia.org/datatype/usDollar,423000000,http://www.w3.org/2001/XMLSchema#nonNegativeInteger,0
http://dbpedia.org/resource/Syria,5.9957E10,http://dbpedia.org/datatype/usDollar,17064854,http://www.w3.org/2001/XMLSchema#nonNegativeInteger,0
http://dbpedia.org/resource/Economic_Cooperation_Organization,US $1.9 trillion,http://www.w3.org/1999/02/22-rdf-syntax-ns#langString,416046863,http://www.w3.org/2001/XMLSchema#nonNegativeInteger,0
http://dbpedia.org/resource/Egypt,3.30765E11,http://dbpedia.org/datatype/usDollar,85783,http://www.w3.org/2001/XMLSchema#nonNegativeInteger,0
http://dbpedia.org/resource/United_States,1.8558E13,http://dbpedia.org/datatype/usDollar,324720797,http://www.w3.org/2001/XMLSchema#nonNegativeInteger,0
http://dbpedia.org/resource/Afghanistan,1.9654E10,http://dbpedia.org/datatype/usDollar,32564342,http://www.w3.org/2001/XMLSchema#nonNegativeInteger,0
http://dbpedia.org/resource/Albania,1.2204E10,http://dbpedia.org/datatype/usDollar,2886026,http://www.w3.org/2001/XMLSchema#nonNegativeInteger,0
http://dbpedia.org/resource/Algeria,1.8171E11,http://dbpedia.org/datatype/usDollar,40400000,http://www.w3.org/2001/XMLSchema#nonNegativeInteger,0
http://dbpedia.org/resource/Andorra,4.51E9,http://dbpedia.org/datatype/usDollar,85470,http://www.w3.org/2001/XMLSchema#nonNegativeInteger,0
http://dbpedia.org/resource/Antigua_and_Barbuda,1.332E9,http://dbpedia.org/datatype/usDollar,91295,http://www.w3.org/2001/XMLSchema#nonNegativeInteger,0

# Cast a variable to a specific datatype

Especially useful when **comparing or performing an arithmetical operations on 2 variables**. Use the `xsd:` prefix for standard datatypes

Here we divide a value in `usDollar` by a `nonNegativeInteger` casting the 2 to `xsd:integer` to calculate the GDP per capita of each country üí∂

In [27]:
PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>
PREFIX dbo: <http://dbpedia.org/ontology/>
PREFIX dbp: <http://dbpedia.org/property/>
SELECT ?country ?gdpValue ?population (xsd:integer(?gdpValue) / xsd:integer(?population) AS ?gdpPerCapita)
WHERE {
    ?country dbp:gdpNominal ?gdpValue ;
             dbo:populationTotal ?population .
} LIMIT 10

country,gdpValue,population,gdpPerCapita
http://dbpedia.org/resource/Arab_League,3.526E12,423000000,8335
http://dbpedia.org/resource/Syria,5.9957E10,17064854,3513
http://dbpedia.org/resource/Economic_Cooperation_Organization,US $1.9 trillion,416046863,
http://dbpedia.org/resource/Egypt,3.30765E11,85783,3855833
http://dbpedia.org/resource/United_States,1.8558E13,324720797,57150
http://dbpedia.org/resource/Afghanistan,1.9654E10,32564342,603
http://dbpedia.org/resource/Albania,1.2204E10,2886026,4228
http://dbpedia.org/resource/Algeria,1.8171E11,40400000,4497
http://dbpedia.org/resource/Andorra,4.51E9,85470,52767
http://dbpedia.org/resource/Antigua_and_Barbuda,1.332E9,91295,14590

# Bind a new variable

* Use the `concat()` function to add "http://country.org/" at the start of a country ISO code.
* Use `BIND` to bind the produced string to a variable
* Make this string an URI using the `uri()` function

```sparql
SELECT *
WHERE {
    ?country a dbo:Country ;
        dbp:iso31661Alpha ?isoCode .
}
```

In [ ]:
PREFIX dbo: <http://dbpedia.org/ontology/>
PREFIX dbp: <http://dbpedia.org/property/>
SELECT *
WHERE {
    ?country a dbo:Country ;
        dbp:iso31661Alpha ?isoCode
    BIND(uri(concat("http://country.org/", ?isoCode)) AS ?isoUri)
} LIMIT 10

# Count aggregated results

Count the number of books for each author üìö

Starting from the query:

```sparql
PREFIX dbo:<http://dbpedia.org/ontology/>
SELECT ?author
WHERE {
    ?book a dbo:Book ;
        dbo:author ?author .
} LIMIT 10
```

In [13]:
PREFIX dbo:<http://dbpedia.org/ontology/>
SELECT ?author (count(?book) as ?book_count)
WHERE {
    ?book a dbo:Book ;
        dbo:author ?author .
} LIMIT 10

author,book_count
http://dbpedia.org/resource/Daniel_Carter_Beard,1
http://dbpedia.org/resource/Raymond_Smullyan,1
http://dbpedia.org/resource/William_Donaldson,1
http://dbpedia.org/resource/Joe_Conason,1
http://dbpedia.org/resource/John_Lennon,3
http://dbpedia.org/resource/J√ºrgen_Habermas,8
http://dbpedia.org/resource/Robert_Nathan,1
http://dbpedia.org/resource/J._P._Martin,6
http://dbpedia.org/resource/Anthony_Everitt,1
http://dbpedia.org/resource/Arthur_R.G._Solmssen,1

# Count depend on the aggregated results of a row

Here we select also the book, hence getting a count of 1 book for each row üìò

In [14]:
PREFIX dbo:<http://dbpedia.org/ontology/>
SELECT ?book ?author (count(?book) as ?book_count)
WHERE {
    ?book a dbo:Book ;
        dbo:author ?author .
} LIMIT 10

book,author,book_count
http://dbpedia.org/resource/The_Aunt's_Story,http://dbpedia.org/resource/Patrick_White,1
http://dbpedia.org/resource/The_Circus_of_Dr._Lao_and_Other_Improbable_Stories,http://dbpedia.org/resource/Ray_Bradbury,1
http://dbpedia.org/resource/The_Four_False_Weapons,http://dbpedia.org/resource/John_Dickson_Carr,1
http://dbpedia.org/resource/The_Smack_Man,http://dbpedia.org/resource/Nelson_DeMille,1
http://dbpedia.org/resource/The_Surprising_Archaea,http://dbpedia.org/resource/John_L._Howland,1
http://dbpedia.org/resource/Trapped_in_the_USSR,http://dbpedia.org/resource/J._J._Fortune,1
http://dbpedia.org/resource/A_Gent_from_Bear_Creek,http://dbpedia.org/resource/Robert_E._Howard,1
http://dbpedia.org/resource/A_Golden_Anniversary_Bibliography_of_Edgar_Rice_Burroughs,http://dbpedia.org/resource/Henry_Hardy_Heins,1
http://dbpedia.org/resource/Act_of_Providence,http://dbpedia.org/resource/Joseph_Payne_Brennan,1
http://dbpedia.org/resource/Atlas_of_the_British_Flora,http://dbpedia.org/resource/Franklyn_Perring,1

# Group by

Group solutions by variable value.

Get the average GDP for all countries grouped by the currency they use, starting from:

```sparql
PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>
PREFIX dbp: <http://dbpedia.org/property/>
PREFIX dbo: <http://dbpedia.org/ontology/>
SELECT ?currency
WHERE {
  ?country dbo:currency ?currency ;
     dbp:gdpPppPerCapita ?gdp .
}
```

Use the `AVG()` function to calculate the average of the GDPs grouped by currency:

In [5]:
PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>
PREFIX dbp: <http://dbpedia.org/property/>
PREFIX dbo: <http://dbpedia.org/ontology/>
SELECT ?currency (AVG(xsd:integer(?gdp)) AS ?avgGdp)
WHERE {
  ?country dbo:currency ?currency ;
     dbp:gdpPppPerCapita ?gdp .
}
GROUP BY ?currency 
ORDER BY DESC(?avgGdp)
LIMIT 15

Error: Query processing error: <urlopen error [Errno -3] Temporary failure in name resolution>

# Make a pattern optional

We can define optional patterns that will be retrieved when available.

Here we get all the books, and their authors when defined:

In [ ]:
PREFIX dbo: <http://dbpedia.org/ontology/>
SELECT *
WHERE {
    ?book a dbo:Book .
    OPTIONAL {
        ?book dbo:author ?author .
    }
}

# Retrieve the graph

Most triplestores supports graphs todays which enable to add a 4th object to the triple (usually to classify it in a larger graph of triples).

```turtle
<http://subject> <http://predicate> <http://object> <http://graph> .
```

Also known as: context

In [10]:
PREFIX dbo:<http://dbpedia.org/ontology/>
SELECT ?author ?graph
WHERE {
    GRAPH ?graph {
        ?book a dbo:Book ;
            dbo:author ?author .
    }
} LIMIT 10

Error: Query processing error: <urlopen error [Errno -3] Temporary failure in name resolution>

We can also query the triples `FROM` a specific graph:

In [ ]:
PREFIX dbo:<http://dbpedia.org/ontology/>
SELECT ?author ?graph
FROM <http://dbpedia.org>
WHERE {
    GRAPH ?graph {
        ?book a dbo:Book ;
            dbo:author ?author .
    }
} LIMIT 10

# Or get all graphs

This query takes time in big datasets, but is usually cached in Virtuoso triplestores.

In [ ]:
SELECT ?g
WHERE {
    GRAPH ?g {
        ?s ?p ?o .
    }
}

# Subqueries

A query inside a query ü§Ø

Resolve: order the first 10 countries to have been dissolved by date of creation.
* Select all countries that have been dissolved
* Order them by dissolution date (oldest to newest)
* Limit to 10
* Finally, order the results (countries) from the most recently created to the oldest created

* Order countries by dissolution date and keep the 10 first
* Order them from the most recently created to the oldest created

In [9]:
SELECT *
WHERE {
  {
    SELECT ?country ?dissolutionDate
    WHERE {
      ?country a dbo:Country ;
            dbo:dissolutionDate ?dissolutionDate .
    } order by ?dissolutionDate limit 10
  }
  ?country dbo:foundingYear ?foundingYear .
} order by desc(?foundingYear)

Error: Query processing error: <urlopen error [Errno -3] Temporary failure in name resolution>

# Federated query

Same as a subquery, a federated query enable to query another SPARQL endpoint directly

Change the YASGUI SPARQL endpoint to **https://bio2rdf.org/sparql** (dbpedia blocks federated queries)

In [ ]:
SELECT * WHERE {
  SERVICE <https://query.wikidata.org/sparql> {
      ?geneUri wdt:P688 ?encodedProtein .
      ?encodedProtein wdt:P352 ?uniprotId .
  } 
} LIMIT 3

# Construct üß±

On https://query.wikidata.org/  
Return a graph specified by a template (build triples)

Generate `rdfs:label` statements for 10 genes and the proteins they encode from Wikidata

In [ ]:
CONSTRUCT {
  ?gene rdfs:label ?geneLabel .
  ?encodedProtein rdfs:label ?encodedProteinLabel .
}
WHERE {
  SERVICE wikibase:label { bd:serviceParam wikibase:language "en". }
  ?gene wdt:P688 ?encodedProtein .
} LIMIT 10

# Insert üìù

Same as a `construct` but directly insert triples into your triplestore

In [ ]:
INSERT {
  GRAPH <http://graph> {
    ?geneUri rdfs:label ?geneLabel .
  } } 
WHERE {
  SERVICE <https://query.wikidata.org/sparql> {
    SELECT * WHERE {
      ?geneUri wdt:P688 ?encodedProtein .
      ?encodedProtein wdt:P352 ?uniprotId .
      SERVICE wikibase:label { bd:serviceParam wikibase:language "en".
        ?geneUri rdfs:label ?geneLabel . } } LIMIT 3
  } 
}

# Insert data

Use SPARQL to insert data into your triplestore (not possible on public endpoints)

In [ ]:
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
INSERT DATA {
  GRAPH <http://my-graph> {
      <my-subject> rdfs:label "inserted object" .
  } 
}

# Delete ‚ùå

To delete particular statements retrieved from a pattern using `WHERE` 

Here we delete the `bl:name` statements for the genes we just created:

In [ ]:
DELETE {
  GRAPH <http://graph> {
    ?geneUri bl:name ?geneLabel.
  } } 
WHERE {
  ?geneUri a bl:Gene .
  ?geneUri bl:name ?geneLabel .
}

# Delete data

Directly provide the statements to delete

In [11]:
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
DELETE DATA {
  GRAPH <http://my-graph> {
      <http://my-subject> rdfs:label "inserted object" .
  } 
}

Error: Query processing error: <urlopen error [Errno -3] Temporary failure in name resolution>

# SPARQL query breakdown üß¨

<img src="sparql_query_breakdown.png">

# Search on DBpedia üîé

Use **[https://yasgui.triply.cc](https://yasgui.triply.cc)** to write and run SPARQL query on DBpedia

> Find DBpedia classes and relations: search on google, e.g.: "**[dbpedia capital](https://www.google.com/search?&q=dbpedia+capital)**"

1. Calculate countries density. Density = `dbo:populationTotal` / `dbo:PopulatedPlace/areaTotal`

2. The capital ([dbo:capital](http://dbpedia.org/ontology/capital)) of the country in which authors of books are born ([dbo:birthPlace](http://dbpedia.org/ontology/birthPlace)), limit to 10

3. All books with a name in english starting with "http" ignoring case

> **Search for functions in the specifications: https://www.w3.org/TR/sparql11-query**

## 1. Compute countries density

In [ ]:
SELECT ?country ?area ?population 
  (xsd:float(?population)/xsd:float(?area) AS ?density)
WHERE {
  ?country a dbo:Country ;  
      dbo:populationTotal ?population ;
      <http://dbpedia.org/ontology/PopulatedPlace/areaTotal> ?area .
      FILTER(?area != 0)
}

# Public SPARQL endpoints üîó

* Wikidata, facts powering Wikipedia infobox: https://query.wikidata.org/sparql
* Bio2RDF, linked data for the life sciences: https://bio2rdf.org/sparql
* Disgenet, gene-disease association: http://rdf.disgenet.org/sparql
* PathwayCommons, resource for biological pathways analysis: http://rdf.pathwaycommons.org/sparql

# Going further

* Wikidata SPARQL queries around the SARS-CoV-2 virus and pandemic: https://egonw.github.io/SARS-CoV-2-Queries
* Use [prefix.cc](http://prefix.cc/) to resolve mysterious prefixes.