# Run SPARQL queries on a local RDF file

We will use the Java RDF library [Apache Jena](https://jena.apache.org/). Follow these instructions to install the library:

1. Copy the `apache-jena-3.16.0` folder from Lab3 to the same directory as the notebook, or download the [apache-jena-3.16.0.zip](http://apache.mirror.triple-it.nl/jena/binaries/apache-jena-3.16.0.zip) file and unzip it
2. Run the next cell (it will import all jars in the `apache-jena-3.16.0/lib` folder)

In [ ]:
%jars apache-jena-3.16.0/lib/*.jar

In [2]:
import org.apache.jena.riot.RDFDataMgr;
import org.apache.jena.rdf.model.*;
import org.apache.jena.util.PrintUtil;
import org.apache.jena.vocabulary.RDF;
import org.apache.jena.query.Query;
import org.apache.jena.query.QueryExecution;
import org.apache.jena.query.QueryExecutionFactory;
import org.apache.jena.query.QueryFactory;
import org.apache.jena.query.QuerySolution;
import org.apache.jena.query.ResultSetFormatter;
import org.apache.jena.query.ResultSet;
import org.apache.jena.reasoner.ReasonerRegistry;
import java.io.File;
import org.apache.commons.io.FileUtils;
import java.nio.charset.StandardCharsets;

## Load the RDF file in a Jena Model

Load the RDF file, and create `runSparqlQuery()` function to run SPARQL queries in a single call from a string or a file.

In [3]:
Model baseModel = RDFDataMgr.loadModel("Lab10_OWL_familyrelations.ttl");
//ReasonerRegistry reasonerRegistry = new ReasonerRegistry();

InfModel model = ModelFactory.createInfModel(ReasonerRegistry.getOWLReasoner(), baseModel);

// The schema model can be provided separately 
// InfModel model = ModelFactory.createInfModel(uselessReasonerRegistry.getOWLReasoner(), schema, model);

In [4]:
static void runSparqlQuery(String queryString, Model model) throws java.io.IOException {
    if (queryString.endsWith(".rq")) {
        queryString = FileUtils.readFileToString(new File(queryString), StandardCharsets.UTF_8);
    }
    System.out.println(queryString);
    Query query = QueryFactory.create(queryString);
    QueryExecution qexec = QueryExecutionFactory.create(query, model);
    ResultSetFormatter.out(qexec.execSelect(), model);
}

## SPARQL query from a file

Provide the SPARQL query in a file **with the extension `.rq`**

 Define owl:equivalentProperty between dbo:age and schema:age

In [5]:
runSparqlQuery("sparql-get_age.rq", model)

PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>
PREFIX schema: <http://schema.org/>
PREFIX dbo: <http://dbpedia.org/ontology/>
PREFIX wdp: <http://www.wikidata.org/prop/direct/>
PREFIX wde: <http://www.wikidata.org/entity/>
SELECT ?person ?age
WHERE {
    ?person dbo:age ?age .
}
-------------------------------------------------
| person            | age                       |
=================================================
| myfamily:kovanya  | "34"^^xsd:positiveInteger |
| myfamily:alan     | "56"^^xsd:positiveInteger |
| myfamily:natasha  | "22"^^xsd:positiveInteger |
| myfamily:shareena | "62"^^xsd:positiveInteger |
| myfamily:brian    | "54"^^xsd:positiveInteger |
| myfamily:kody     | "34"^^xsd:positiveInteger |
| myfamily:nicole   | "33"^^xsd:positiveInteger |
| myfamily:naidene  | "28"^^xsd:positiveInteger |
| myfamily:radha    | "51"^^xsd:positiveInteger |
| myfamily:siara    | "30"^^xsd:positiveInteger |
-------------------------------------------------

Define the necessary mappings in .tll for the following SPARQL query to retrieve the results from Wikidata statements

In [6]:
runSparqlQuery("sparql-get_sibling.rq", model)

PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>
PREFIX schema: <http://schema.org/>
PREFIX dbo: <http://dbpedia.org/ontology/>
PREFIX wdp: <http://www.wikidata.org/prop/direct/>
PREFIX wde: <http://www.wikidata.org/entity/>
SELECT ?person ?sibling
WHERE {
    ?person schema:sibling ?sibling .
}
----------------------------------------
| person            | sibling          |
========================================
| myfamily:maha     | myfamily:alan    |
| myfamily:guna     | myfamily:alan    |
| myfamily:shareena | myfamily:ajeet   |
| myfamily:padma    | myfamily:peter   |
| myfamily:alan     | myfamily:peter   |
| myfamily:maha     | myfamily:peter   |
| myfamily:padma    | myfamily:alan    |
| myfamily:siara    | myfamily:kody    |
| myfamily:kovanya  | myfamily:kody    |
| myfamily:peter    | myfamily:alan    |
| myfamily:guna     | myfamily:peter   |
| myfamily:guna     | myfamily:padma   |
| myfamily:siara    | myfamily:kovanya |
| myfamily:kovanya  | myfamily:siara   |
| myfamily:kody     | myfamily:kovanya |
| myfamily:maha     | myfamily:padma   |
| myfamily:peter    | myfamily:padma   |
| myfamily:kody     | myfamily:siara   |
| myfamily:naidene  | myfamily:natasha |
| myfamily:nicole   | myfamily:natasha |
| myfamily:alan     | myfamily:padma   |
| myfamily:padma    | myfamily:guna    |
| myfamily:maha     | myfamily:guna    |
| myfamily:nicole   | myfamily:naidene |
| myfamily:alan     | myfamily:guna    |
| myfamily:naidene  | myfamily:nicole  |
| myfamily:peter    | myfamily:maha    |
| myfamily:peter    | myfamily:guna    |
| myfamily:natasha  | myfamily:nicole  |
| myfamily:guna     | myfamily:maha    |
| myfamily:padma    | myfamily:maha    |
| myfamily:alan     | myfamily:maha    |
| myfamily:natasha  | myfamily:naidene |
| wde:Q16066408     | wde:Q6226112     |
| wde:Q16066408     | wde:Q4719071     |
| wde:Q16066408     | wde:Q3430859     |
| wde:Q16066408     | wde:Q30632178    |
| wde:Q16066408     | wde:Q28870612    |
| wde:Q16066408     | wde:Q28124142    |
| wde:Q16066408     | wde:Q22088567    |
----------------------------------------

Define necessary mappings in .tll for the following SPARQL query to retrieve the results from Wikidata statements

In [7]:
runSparqlQuery("sparql-get_parent.rq", model)

PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>
PREFIX schema: <http://schema.org/>
PREFIX dbo: <http://dbpedia.org/ontology/>
PREFIX wdp: <http://www.wikidata.org/prop/direct/>
PREFIX wde: <http://www.wikidata.org/entity/>
SELECT ?person ?parent
WHERE {
    ?person schema:parent ?parent .
}
-----------------------------------------
| person            | parent            |
=========================================
| myfamily:naidene  | myfamily:brian    |
| myfamily:maha     | myfamily:kamala   |
| myfamily:kody     | myfamily:alan     |
| myfamily:kody     | myfamily:shareena |
| myfamily:kovanya  | myfamily:alan     |
| myfamily:peter    | myfamily:harri    |
| myfamily:natasha  | myfamily:radha    |
| myfamily:guna     | myfamily:harri    |
| myfamily:alan     | myfamily:harri    |
| myfamily:siara    | myfamily:shareena |
| myfamily:alan     | myfamily:kamala   |
| myfamily:guna     | myfamily:kamala   |
| myfamily:padma    | myfamily:harri    |
| myfamily:kovanya  | myfamily:shareena |
| myfamily:maha     | myfamily:harri    |
| myfamily:naidene  | myfamily:radha    |
| myfamily:peter    | myfamily:kamala   |
| myfamily:nicole   | myfamily:radha    |
| myfamily:nicole   | myfamily:brian    |
| myfamily:siara    | myfamily:alan     |
| myfamily:shareena | myfamily:hiblal   |
| myfamily:padma    | myfamily:kamala   |
| myfamily:natasha  | myfamily:brian    |
| myfamily:shareena | myfamily:thana    |
| wde:Q16066408     | wde:Q178903       |
| wde:Q16066408     | wde:Q5363475      |
-----------------------------------------

Homework: Transform the wikidata graph to the family graph using Construct query

In [8]:
runSparqlQuery("sparql-get_given_familyname.rq", model)

PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>
PREFIX schema: <http://schema.org/>
PREFIX dbo: <http://dbpedia.org/ontology/>
PREFIX wdp: <http://www.wikidata.org/prop/direct/>
PREFIX wde: <http://www.wikidata.org/entity/>
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>

SELECT ?person ?givenName ?familyName
WHERE {
    ?person schema:familyName ?familyName .
    ?person schema:givenName ?givenName .
}

-----------------------------------------------
| person            | givenName  | familyName |
===============================================
| myfamily:peter    | "Peter"    | "Moodley"  |
| myfamily:thana    | "Thana"    | "Pramlall" |
| myfamily:kody     | "Kody"     | "Moodley"  |
| myfamily:kovanya  | "Kovanya"  | "Moodley"  |
| myfamily:naidene  | "Naidene"  | "Govender" |
| myfamily:natasha  | "Natasha"  | "Govender" |
| myfamily:kamala   | "Kamala"   | "Moodley"  |
| myfamily:nicole   | "Nicole"   | "Moodley"  |
| myfamily:alan     | "Alan"     | "Moodley"  |
| myfamily:maha     | "Maha"     | "Reddy"    |
| myfamily:harri    | "Harri"    | "Moodley"  |
| myfamily:ajeet    | "Ajeet"    | "Pramlall" |
| myfamily:brian    | "Brian"    | "Govender" |
| myfamily:shareena | "Shareena" | "Moodley"  |
| myfamily:guna     | "Guna"     | "Anthony"  |
| myfamily:padma    | "Padma"    | "Naidoo"   |
| myfamily:siara    | "Siara"    | "Moodley"  |
| myfamily:radha    | "Radha"    | "Govender" |
| myfamily:hiblal   | "Hiblal"   | "Pramlall" |
-----------------------------------------------