# Querying with SPARQL - rdflib

rdflib Python package allows querying RDF KGs with SPARQL.   

More details: https://rdflib.readthedocs.io/en/stable/intro_to_sparql.html

In [ ]:
!pip install rdflib

In [ ]:
#Create RDF triples with rdflib

from rdflib import URIRef, Literal, Namespace, Graph
from rdflib.namespace import FOAF,  RDF

UM = Namespace('http://maastrichtuniversity.nl/')

g = Graph()

# Bind prefixes to namespace
g.bind('um', UM)
g.bind('foaf',FOAF)

#create nodes
remzi= URIRef('http://maastrichtuniversity.nl/Remzi')
computerScientist = URIRef('http://maastrichtuniversity.nl/Computer_Scientist')
maryam= URIRef('http://maastrichtuniversity.nl/Maryam')
jinzhou= URIRef('http://maastrichtuniversity.nl/Jinzhou')
ozge= URIRef('http://maastrichtuniversity.nl/Ozge')
teachingAssistant = URIRef('http://maastrichtuniversity.nl/Teaching_Assistant')

#add nodes and relations to graph 
g.add((remzi, RDF.type, computerScientist))
g.add((remzi, FOAF.firstName, Literal('Remzi')))
g.add((remzi, FOAF.lastName, Literal('Celebi')))
g.add((maryam, RDF.type, teachingAssistant))
g.add((maryam, FOAF.firstName, Literal('Maryam')))
g.add((maryam, FOAF.lastName, Literal('Mohammadi')))
g.add((jinzhou, RDF.type, teachingAssistant))
g.add((jinzhou, FOAF.firstName, Literal('Jinzhou')))
g.add((jinzhou, FOAF.lastName, Literal('Yang')))
g.add((ozge, RDF.type, teachingAssistant))
g.add((ozge, FOAF.firstName, Literal('Ozge')))
g.add((ozge, FOAF.lastName, Literal('Erten')))

In [ ]:
#sample SPARQL query: show all TA's in the graph

TA_query = """
SELECT ?fname ?lname
WHERE {
    ?a rdf:type um:Teaching_Assistant .
    ?a foaf:firstName ?fname .
    ?a foaf:lastName ?lname .
}"""

qres = g.query(TA_query)
for row in qres:
    print(f"{row.fname} {row.lname}")

# Task 1 - 10 min

List 20 books and their authors in DBpedia that have the term “grand” in their name.\
Hint: use the function contains(string_to_look_in,string_to_look_for)

**Note:** The SERVICE keyword of SPARQL 1.1 can send a query to a remote SPARQL endpoint.The structure:

```
  SELECT ?s
    WHERE {
      SERVICE <https://dbpedia.org/sparql> {
        ?s ?p ?o .
      }
    }

```


Use [**prefix.cc**](https://prefix.cc) to discover the full IRIs for unknown prefixes you may encounter

In [ ]:
#answer

# Task 2 - 10 min
Write a query to:

* List 10 books with a name in English starting with "she" (case-insensitive). \
Hint: Use langMatches, STRSTARTS and lcase functions.\
* List 5 unique book categories for all short books (less than 300 pages) written by authors who were born in Amsterdam. \
Hint: Use the dct:subject property of dbo:Book to define “category” in this task.

In [ ]:
#answer